<header class="header">
  <div class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="logo" />
    </div>
    <div class="menu-icons">
      <a href="/">Home</a>
      <a href="#about">About</a>
      <a href="/products">Menu</a>
      <a href="#review">Review</a>
      <a href="/shopping-cart">
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <span id="quantity"
          ><% if (session) { %> <%= session.cart?.totalQty %> <% } %></span
        >
      </a>
    </div>
    <div class="icons">
      <% if (user) { %>
      <span class="userName">Welcome <span><%= user.userName %></span> </span>
      <% } else { %>
      <a href="/signin"><button>Login</button></a>
      <% } %> <% if (user) { %>
      <a href="/user"><div class="fas fa-user" id="account-btn"></div></a>
      <a href="/user/signout"><div class="fas fa-sign-out-alt"></div></a>
      <% } %>
      <div class="fas fa-bars" id="menu-btn"></div>
    </div>
  </div>
</header>
