<header class="header">
  <div class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="logo" />
    </div>
    <div class="menu-icons">
      <a href="/">home</a>
      <a href="#about">about</a>
      <a href="/products">menu</a>
      <a href="#review">review</a>
      <button>Login</button>
    </div>

    <div class="icons">
      <a href="/user"><div class="fas fa-user" id="search-btn"></div></a>
      <a href="/carts"
        ><div class="fas fa-shopping-cart" id="cart-btn"></div
      ></a>
      <div class="fas fa-bars" id="menu-btn"></div>
    </div>
  </div>
</header>
