<% if (typeof errors !== 'undefined') { %> <% errors.forEach(error => { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%=error.msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }); %> <% } %>

<!-- asdf -->

<% if (messages.success_msg) { %>
<div
  class="alert alert-success alert-dismissible fade show"
  role="alert"
  id="alert-success"
>
  <%= messages.success_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- asd -->

<% } %> <% if (messages.error_msg) { %>
<div
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
  id="alert-warning"
>
  <%= messages.error_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if (messages.error) { %>
<div
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
  id="alert-warning"
>
  <%= messages.error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
