<div class="banner">
  <div class="slider">
    <img src="images/img1.jpg" alt="ban" id="slideImg" />
  </div>
  <div class="overlay">
    <div class="content">
      <h3>DRINK AND FOOD EVERY DAY</h3>
      <p>
        Please order according to your preferences and needs, our store is
        always ready to serve 24/7
      </p>
      <a href="/products"><button type="button">WATCH MENU</button></a>
      <a href="#footer"><button type="button" id="btn-2">SUBCRIBE</button></a>
    </div>
  </div>
</div>
<section class="about" id="about">
  <div class="container-fluid">
    <h2 class="heading"><span>ABOUT</span> US</h2>
    <div class="row">
      <div class="col img">
        <img src="images/f1.jpg" alt="f1" />
      </div>
      <div class="col content">
        <h3>
          Address: 41 Hung Vuong Street, Yen Do Ward, Pleiku city, Gia Lai
          province
        </h3>
        <p>
          This is a online place that you can order many kind of food and drink,
          our service will ship to you, let's checkout.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="menu" id="menu">
  <h1 class="heading">Our <span>menu</span></h1>

  <div class="box-container">
    <% products.forEach(product => { %>
    <div class="box">
      <img src="<%= product.cover %> " alt="" />
      <h3><%= product.name %></h3>
      <div class="price">$<%= product.price %></div>
      <a href="/add-to-cart/<%= product._id %>" class="btn1">Add to cart</a>
    </div>
    <% }) %>
  </div>
  <div class="linkto">
    <a href="/products">See more...</a>
  </div>
</section>

<!-- menu section ends -->

<section class="review" id="review">
  <h1 class="heading">customer's <span>review</span></h1>

  <div class="box-container">
    <div class="box">
      <img src="images/quote-img.png" alt="" class="quote" />
      <p>
        There is a lot of good food and drink, I like hambuger most, it make me
        feel like I can eat it all time
      </p>
      <img src="images/pic-1.png" class="user" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>

    <div class="box">
      <img src="images/quote-img.png" alt="" class="quote" />
      <p>The food at this is very good, the drink good too</p>
      <img src="images/pic-2.png" class="user" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>

    <div class="box">
      <img src="images/quote-img.png" alt="" class="quote" />
      <p>This is so Favorable, this kind of service is quite good.</p>
      <img src="images/pic-3.png" class="user" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>
  </div>
</section>

<!-- review section ends -->
<!-- footer section starts  -->
