<div class="payBtn">
	<button class="cTitle" id="payBtn">to Payment</button>
</div>


<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script defer src="javascripts/checkout.js"></script>
